.form-data
  display flex
  flex-direction column
  width 350px

  > .label
    font-size 16px
    margin 4px 0 2px 0

  > .input
    border 1px solid #dfe6e9
    font-family 'Arial'
    font-size 16px
    height 40px
    margin: 0 0 10px 0

  > .button
    font-size 16px
    height 40px
    text-transform uppercase

  > .message
    margin 10px 0 0